registry=https://registry.npmjs.org/
@ama:registry=https://ticappsonar.northeurope.cloudapp.azure.com/nexus/repository/npm-general
//ticappsonar.northeurope.cloudapp.azure.com/nexus/repository/npm-general/:_authToken=NpmToken.ba93976f-9c9e-3981-a5af-921857d30e9b
